cohere==5.6.2
Flask==1.1.2
Flask_Bcrypt==1.0.1
Flask_Cors==4.0.1
Flask_JWT_Extended==4.6.0
flask_sqlalchemy==3.1.1
jieba==0.42.1
langchain==0.2.12
langchain_cohere==0.2.0
langchain_community==0.2.11
langchain_core==0.2.28
langchain_huggingface==0.0.3
langchain_text_splitters==0.2.2
matplotlib==3.5.2
networkx==2.8.4
numpy==1.21.5
numpy==1.24.4
Requests==2.32.3
selenium==4.23.1
